/* ===common css =====*/

a {
  text-decoration: none;
}

a.hover {
  text-decoration: none;
}

ul {
  margin-bottom: 0;
}

li {
  list-style: none;
}

/* ===common css ends ==== */

/* home */

.main-page {
  background: linear-gradient(to right, #f4f4f4 50%, #f7f7f7 50%);
  text-align: center;
  padding: 260px 0;
}

.main-content h4 {
  font-weight: 600;
  font-size: 25px;
}

.main-content p {
  font-weight: 600;
  font-size: 16px;
}

/* home ends */

/* ======signup/signin ====== */

.inner-signup {
  display: grid;
  place-items: center;
}

.main-signup {
  width: 50%;
  padding: 40px 20px;
  box-shadow: 0 2px 4px #333;
  margin: 30px;
  margin-top: 80px;
}

.form-title h2 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 15px;
}

.main-signup .form-control {
  border-radius: 0;
}

.main-signup .form-control:focus {
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: none;
}

.main-signup .form-required {
  position: relative;
}

.main-signup .form-required::after {
  position: absolute;
  content: "*";
  color: red;
  right: 8px;
  top: 20%;
  font-size: 22px;
}

.main-signup .form-group p {
  position: absolute;
  color: red;
  top: 12%;
  right: 10px;
}

.already-regi a {
  color: #212529;
  font-size: 18px;
  text-decoration: none;
  opacity: 0.5;
}

.signup-btn {
  margin-top: 30px;
}

.signup-btn button {
  background-color: rgb(3, 3, 97);
  font-size: 16px;
  color: #fff;
  border-radius: 0;
}

.signup-btn button:hover {
  color: #fff;
}

.form-show-data ul li {
  display: inline-block;
  margin-left: 42px;
  font-weight: 500;
}

.form-show-data ul span {
  margin-left: 5px;
  font-weight: 400;
}

/* ======signup ends ====== */

/* ===for delete the form=========== */

.main-delete {
  text-align: center;
  margin: 50px auto;
  width: 50%;
}

.delete-btn button {
  background-color: rgb(3, 3, 97);
  font-size: 16px;
  color: #fff;
  border-radius: 0;
  padding: 10px 20px;
}

/* ===for delete the form ends=========== */